@inject TokenProvider TokenProvider


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorCookie.Server</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <AuthorizeView > @*This is used specificly on components/html pages when we don`t want to show something if not logged in, however, the user can still navigate to pages that are here hidden.*@
        <Authorized>
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </div>

                <form action="/logout" method="post">
                    <button class="nav-link btn btn-link" type="submit">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Logout (@context.User.Identity?.Name)
                    </button>
                    <input name="__RequestVerificationToken" type="hidden" value="@TokenProvider.XsrFToken"/>
                </form>
           
                @*<div class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Cookie Logout
                    </NavLink>
                </div>*@
            </nav>
        </Authorized>

        <NotAuthorized>
             <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Cookie Login
                    </NavLink>
                </div>
            </nav>
        </NotAuthorized>

    </AuthorizeView>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
